p{
	text-align:center;
}
span{
	border-radius: 15px 15px 15px 0;
	border: 5px solid #FFAD5B;
	padding: 0.5em 0.6em;
	color: #FF8000;
}
a{
	color: #FFAD5B;
	font-size: 30px;
	font-family: 'Gluten', cursive;
	text-decoration: none;
}
div{
	position: absolute;
	bottom: 0;
	text-align: center;
}
img{
	position: relative;
	display: block;
	float: left;
}