body{
  text-align: center;
}

#title{
  text-align: center;
  color: Black;
  font-size: 40px;
}

#text1{
  margin-top: 5%;
  color: white;
  font-size: 30px;
}

#text3{
  color: black;
  font-size: 30px;
  margin-top: 5%;
}

#entrance_door{
  width: 500px;
}

#room1_doors{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.room1_door{
  width: 400px;
}

#room2_doors{
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.room2_door{
  width: 500px;
}

#Bottomless_hole{
  width: 800px;
  margin-bottom: -10%;
}

#Monster1{
  width: 800px;
}

#room3_doors{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.room3_door{
  width: 250px;
}

#roo4_doors1{
  display: flex;
  flex-direction: column;
}

#room4_doors2{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.room4_door{
  width: 120px;
}

#small_text{
  font-size: 15px;
  color: green;
}

#dog{
  position: absolute;
  display: flex;
  margin-left: 90%;
  margin-top: -10%;
}

#dog_size{
  width: 100px;
}

#room5_doors{
  margin-top: 5%;
}

.Exit_door{
  width: 300px;
}

.Ending_light{
  width: 200px;
}

#Restart_button{
  margin-top: 5%;
  width: 60px;
}

.Restart_message{
  font-size: 20px;
  font-style: bold;
}

#Restart2_button{
  margin-top: 30%;
  width: 60px;
  background: dimgrey;
}

.Restart2_message{
  font-size: 20px;
  font-style: bold;
  color: white;
}